<h2>Search results for: <span style="color: #000000; font-weight: normal;"><%=h @query %></span></h2>
<% if @results.empty? %>
    <%= 'Sorry bro, no results found.' %>
<% else %>
    <ul class="searchResults">
        <% @results.each do |torrent| %>
            <li>
              <%= link_to torrent.title, "#{url_for :controller => 't'}/#{torrent.id}" %>
              <span class="right">
                <span class="tags"><%=h torrent.tags %></span>
                <%=h '%.1f' % torrent.rank_agg %>
              </span>
            </li>
        <% end %>
    </ul>
    <%= will_paginate @results, :param_name => 'p' %>
<% end %>
