<h2><%=h @torrent.title %></h2>

<div class="graph">
    <img src="<%= url_for :controller => 'graph' %>/<%= @torrent.id %>.gif" id="graphImg"/>
</div>

<div class="details1">
    <h3>Tags:</h3>
    <p><%=h @torrent.tags %></p>

    <h3>Size:</h3>
    <p><%= @torrent.size %> MB</p>

    <h3>Added:</h3>
    <p><%= @torrent.created_at %></p>

    <h3>Last update:</h3>
    <p><%= @last.created_at %></p>
</div>

<div class="details2">
    <h5>Seeders / </h5>
    <h4>Uploading:</h4><br/>
    <h5>Leechers / </h5>
    <h4>Downloading:</h4>
</div>

<div class="details3">
    <div class="seed"><%= @last.seed %></div>
    <div class="leech"><%= @last.leech %></div>
</div>

<div style="clear:both"></div>