<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

	<title>Torrito</title>

    <script type="text/javascript">
    </script>

</head>
<body class="container">

	<div class="header">

		<div class="headerTitle"><img src="/images/title.png" alt="Torrito" /></div>
		<div class="headerSearch" style="">
            <form action="/search" method="get">
			    <input name="q" id="q" style="padding: 4px 8px 4px 5px; width: 457px; margin-right: 0px;" type="text" />
			    <input style="height: 26px;" type="submit" value="Search" />
            </form>
		</div>

        <ul id="autoComplete"></ul>

	</div>

	<div class="content">

        <%= "<img src=\"/graph/#{params[:id]}.gif\" alt=\"graph\" />" %>

        <%=h @torrent.title %><br/>
        <%=h @torrent.tags %><br/>
        <%=h @torrent.size %><br/>
        <%=h @torrent.created_at %><br/>

	</div>

</body>
</html>
